body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

ul li {
  font-size: 1.2em;
}

ul li > ul li {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

.principle {
  text-transform: uppercase;
  font-weight: bolder;
}

/*
summary {
  color: #6c757d;
}
*/

/* overwriting https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/default.css */
a, a > code {
  color: #004286;
  text-decoration: none;
}

.remark-code-line-highlighted     { background-color: #000000; }

.inverse {
  background-color: #000000;
  color: #ffffff;
  text-shadow: 0 0 2px #999;
}
.inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .inverse h6 {
  color: #ffffff;
}
.inverse a {
  color: #AAAAAF;
  text-decoration: none;
  text-shadow: none;
}

/* https://github.com/yihui/xaringan/wiki/Title-slide */
.title-slide .remark-slide-number {
  display: none;
}

.title-slide h2 {
  font-size: 1.4em;
}
.title-slide h3 {
  font-size: 1.2em;
}

.blackout {
  background-color: #000000;
  color: #000000;
}